<div class="sidebar-wrapper">
	<div class="profile-container">
		<img class="profile" src="assets/images/profile.png" alt="" />
		<h1 class="name">Neal Miller</h1>
		<h3 class="tagline">Software Engineer</h3>
	</div><!--//profile-container-->
	
	<div class="contact-container container-block">
		<ul class="list-unstyled contact-list">
			<li class="email"><i class="fa fa-envelope"></i><a href="mailto:neal@neal.miller.co">neal@nealmiller.co</a></li>
			<li class="linkedin"><i class="fa fa-linkedin"></i><a href="http://linkedin.com/in/wlmiller3" target="_blank">linkedin.com/in/wlmiller3</a></li>
			<li class="github"><i class="fa fa-github"></i><a href="http://github.com/wlmiller" target="_blank">github.com/wlmiller</a></li>
		</ul>
	</div><!--//contact-container-->
	
	<div class="education-container container-block hidden-xs">
		<h2 class="container-block-title">Education</h2>
		<div class="item">
			<h4 class="degree">PhD in Chemical Physics</h4>
			<h5 class="meta">Columbia University</h5>
			<div class="time">2007 - 2012</div>
		</div><!--//item-->
		<div class="item">
			<h4 class="degree">BS in Chemistry</h4>
			<h5 class="meta">University of Texas at Austin</h5>
			<div class="time">2003 - 2007</div>
		</div><!--//item-->
	</div><!--//education-container-->
	
	<div class="education-container container-block hidden-xs">
		<h2 class="container-block-title">Skills</h2>
		<div class="skillset">
			<div class="item">
				<h4 class="level-title">C#</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="98%">
				</div>                               
				</div><!--//level-bar-->                                 
			</div><!--//item-->
			
			<div class="item">
				<h4 class="level-title">Xamarin</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="98%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->
			
			<div class="item">
				<h4 class="level-title">Python</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="98%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->
			
			<div class="item">
				<h4 class="level-title">Applied Sciences</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="98%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->
			
			<div class="item">
				<h4 class="level-title">WPF</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="85%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->

			<div class="item">
				<h4 class="level-title">Ocean</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="75%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->

			<div class="item">
				<h4 class="level-title">Angular</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="60%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->
			
			<div class="item">
				<h4 class="level-title">C++</h4>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="60%">
					</div>                                      
				</div><!--//level-bar-->                                 
			</div><!--//item-->
		</div><!--//skillset-->
	</div><!--//education-container-->
	
</div><!--//sidebar-wrapper-->
