<div class="sidebar-wrapper">
    <div class="profile-container">
        {% if page.url == '/' %}{% else %}<a href="/">{% endif %}
			<img class="profile" src="assets/images/profile.png" alt="" />
		{% if page.url == '/' %}{% else %}</a>{% endif %}
        <h1 class="name">
            {% if page.url == '/' %}{% else %}<a href="/">{% endif %}
				Neal Miller
			{% if page.url == '/' %}{% else %}</a>{% endif %}
        </h1>
        <h3 class="tagline">Software Engineer</h3>
    </div>
    <!--//profile-container-->

    <div class="link-container container-block">
        <ul class="list-unstyled contact-list">
            <li><h4><a href="/">About Me</a></h4></li>
            <li><h4><a href="/projects">Projects</a></h4></li>          
            <li><h4><a href="/writing">Articles</a></h4></li>    
            <li><h4><a href="/publications">Publications</a></h4></li>          
        </ul>
    </div>
    <!--//contact-container-->

    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><a href="mailto:neal@neal.miller.io"><i class="fa fa-envelope"></i>neal@nealmiller.io</a></li>
            <li class="linkedin"><a href="http://linkedin.com/in/wlmiller3" target="_blank"><i class="fa fa-linkedin"></i>/in/wlmiller3</a></li>
            <li class="github"><a href="http://github.com/wlmiller" target="_blank"><i class="fa fa-github"></i>/wlmiller</a></li>
            <!--<li class="npm"><a href="https://www.npmjs.com/~wlmiller" target="_blank"><img src="assets/images/npm.svg" class="contact-logo"/>/~wlmiller</a></li>
			<li class="nuget"><a href="https://www.nuget.org/profiles/neal.miller" target="_blank"><img src="assets/images/nuget.svg" class="contact-logo"/>/profiles/neal.miller</a></li>-->
        </ul>
    </div>
    <!--//contact-container-->

</div>
<!--//sidebar-wrapper-->
